<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

    
      <div class="container"> <br />
        <div class="row">
          <form class="col-md-6" (submit)="registerClient()" enctype="multipart/form-data" action="https://example-gems-juligarji.c9users.io/magazines" method="post">
       
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Subir las revistas</strong> <small> </small></div>
            <div class="panel-body">
              <div class="input-group image-preview">
               
                <div class="form-group">
                  <label for="usr">Nombre:</label>
                  <input name="name" type="text" class="form-control" id="usr">
                </div>
                <div class="form-group  col-md-6">
                  <label for="usr">Autor:</label>
                  <input name="author" type="text" class="form-control" id="usr">
                </div>
                <div class="form-group  col-md-12">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sucess">Subir</button>
                </div>
       
              
              </div>
              <!-- /input-group image-preview [TO HERE]--> 
              
              <br />
              
              <!-- Drop Zone -->
              <div class="upload-drop-zone" id="drop-zone"> Or drag and drop files here </div>
              <br />
            </div>
          </div>
        
      </form>   
          <div class="col-md-6">
            <div class="panel">
              <div class="panel-heading">
                <h1 class="text-center">Archivos Subidos</h1>
              </div>
              <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Author</th>
                        <th scope="col">
                          Ver
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let magazine of filesUploaded">
                        <th scope="row">{{ magazine.id }}</th>
                        <td>{{ magazine.name }}</td>
                        <td>{{ magazine.author }}</td>
                        <td><a target="_blank" href="https://example-gems-juligarji.c9users.io/{{magazine.file.url}}" class="btn btn-info" role="button">PDF</a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>        
        </div>        
            
            
      </div>
    </div>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="../../assets/js/fileSelect.js"></script>
</body>
</html>